* {
  font-family: sans-serif;
}

/*
================
MAPA
================
*/
div#mapa{
  position: relative;
  overflow: hidden;
  height: 87vh;
  padding: 0;
}

/*
================
FORMULARIO
================
*/

.header {
  background: #f7b617;
  padding: 20px 0;
}

.form-control {
  background-color: #f7b617;
  border: 1px solid #fff;
  color: #fff;
  width: 85%;
  float: right;
}

.form-control::placeholder {
  color: #fff;
}

@media (min-width: 768px){
  .form-inline .form-control {
    width: 90%;
    float: none;
  }
}

@media (max-width: 992px){
  .form-inline .form-control {
    margin: 5px 0;
  }
}

input:focus {
  outline: none;
}

.form-group i {
  padding-right: 10px;
}
.glyphicon {
  color: #fff;
}

.form-group:nth-child(3){
  border-right: 1px solid #fff;
}

/*
================
TARIFA
================
*/

.div-price {
  position: fixed;
  bottom: 0;
  padding: 25px 5px 10px;
  height: 20vh;
  font-size: 42px;
  font-size: 5rem;
  font-weight: 700;
  color: #f7b617;
  background-color: #333;
  text-align: center;
  z-index: 100;
}

.none {
  display: none;
}
