div#mapa{
  height: 87vh;
  padding: 0;
}

.adress-bar {
  background: #f7b617;
  padding: 20px 0 10px;
  width: 100%;
}

.form-group {
  padding: 10px 0;
}

.input-group-addon {
  background-color: #f7b617;
  border: 0;
  text-align: center;
}

.glyphicon {
  color: #fff;
}

.form-control {
  background-color: #f7b617;
  border: 1px solid #fff;
  color: #fff;
}

input:foc {
  outline: none;
}

.form-control::placeholder {
  color: #fff;
}

.div-price {
  position: absolute;
  bottom: 0;
  padding: 25px 5px 10px;
  height: 20vh;
  font-size: 42px;
  font-size: 5rem;
  font-weight: 700;
  color: #f7b617;
  background-color: #333;
  text-align: center;
  z-index: 100;
}

.none {
  display: none;
}
